// ?Fonts
$crimson_pro: "Crimson Pro", serif;
$lora: "Lora", serif;
$montserrat: "Montserrat", sans-serif;

// ?Colors
$black: #181719;
$white: #FFFFFF;
$gray: #A9A9A9;
$special_color: #F7542E;

// ?Screens
$deskto1: 1700px;
$deskto2: 1366px;
$deskto3: 1068px;
$mobile: 375px;
